## EXPIRES CACHING ##
<IfModule mod_expires.c>
ErrorDocument 404 www.giftfinder.ga/404.html 

ExpiresActive On
# 1 Month for most static assets
<filesMatch ".(css|jpg|jpeg|png|gif|js|ico)$">
Header set Cache-Control "max-age=2592000, public"
</filesMatch>

#specify character coding
AddDefaultCharset utf-8 
</IfModule>
## EXPIRES CACHING ##